body {
  font-family: Arial;
  text-align: center;
  background-color: #64a264;
}

#cartas-mesa img {
  height: 175px;
  width: 125px;
  margin: 1px;
}

#suas-cartas img {
  height: 175px;
  width: 125px;
  margin: 1px;
}

#pedir {
  width: 100px;
  height: 50px;
  font-size: 20px;
  margin-right: 3px;
}

#parar {
  width: 100px;
  height: 50px;
  font-size: 20px;
  margin-left: 3px;
}

#reiniciar {
  width: 100px;
  height: 50px;
  font-size: 20px;
  margin-left: 3px;
}
